
{% extends "layout.html" %}
{% block content %}
<div>
    <form method="POST" action="">
	    {{ form.hidden_tag() }}
        <fieldset>
            <legend><font size="30"><strong style = "color:floralwhite">Sign In</strong></font></legend>
            <div>
		    <strong style = "color:floralwhite">{{ form.username.label }}</strong><!-- <h3>username</h3>-->
		        <br>
		        {% if form.username.errors %}
		        {{ form.username }}
		            <div>
			            {% for error in form.username.errors%}
			            <span style = "color:#EE6309"><em>{{error}}</em></span>
			            {% endfor %}
		            </div>
		        {% else %}
		            {{ form.username }}<!-- <input type="text" name = " username"><br>-->
            	{% endif %}
	        </div>
            <div>
				<strong style = "color:floralwhite">{{ form.password.label }}</strong><!-- <h3>password</h3>-->
				<br>
				{% if form.password.errors %}
				{{ form.password }}
				<div>
					{% for error in form.password.errors%}
					 <span style = "color:#EE6309"><em>{{error}}</em></span>
					 {% endfor %}
				</div>
				{% else %}
				{{ form.password }}<!-- <input type="password" name = " password"><br>-->
						{% endif %}
            </div>
            
        </fieldset>
        <div>
		{{ form.submit}}<!-- <input type = "submit" value = "Sign up">-->
        </div>
    </form>
    <div>
        <small style = "color:floralwhite">
            Don't have an account? <button><a href = {{ url_for('register') }}> SignUp </a></button>
        </small>
    </div>
  </div>
{% endblock content %}



